// stili utili 
// sm = 576px  \   xl = 1200px
.h-max{
  height: 100%;
}

.green-text{
  color:rgb(3, 155, 161);
}
.green-bg{
  background-color:rgb(3, 155, 161);
}
.grey-text{
  color: rgb(105, 105, 105);
}
